@media screen and (max-width: 800px) {
  .navbar-colapse-menu a {
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.9); } }

@media screen and (max-width: 1024px) {
  #header {
    padding: 0;
    height: 90px;
    position: fixed; }
  .navbar-brand img {
    height: 30px; }
  .for-mobile {
    display: none; } }

@media screen and (max-width: 1440px) {
  .for-mobile {
    display: none; } }

@media screen and (max-width: 2560px) {
  .for-mobile {
    display: none; } }

@media screen and (max-width: 769px) {
  .for-mobile {
    display: none; }
  .non-mobile {
    display: block; } }

@media screen and (max-width: 768px) {
  .for-mobile {
    display: block; }
  .non-mobile {
    display: none; } }

@media screen and (max-width: 320px) {
  .form-subscribe {
    display: none; } }

@media screen and (max-width: 600px) {
  .social i {
    font-size: 25px;
    margin: 2px; }
  #header {
    padding: 0;
    height: 60px;
    position: fixed; }
  .navbar-brand img {
    height: 30px; }
  .btn-get-started {
    font-weight: 200;
    font-size: 10px;
    padding: 5px 10px;
    margin: 5px; }
  .carousel-caption p {
    display: none; }
  .carousel-caption h3 {
    display: none; }
  .carousel-indicators {
    display: none; } }
