#header {
  padding: 30px 0;
  background: rgba(0, 0, 0, 0.8);
  height: 95px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1; }

#header.header-scrolled {
  background: rgba(0, 0, 0, 0.9);
  padding: 20px 0;
  height: 150px;
  transition: all 0.5s; }

.navbar-brand img {
  margin: 0;
  height: 50px; }

a {
  transition: 0.5s;
  background-color: transparent;
  color: black; }

/* #hero .carousel-inner:after {
    width:100%; 
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.6);
  }  */
/* h3{
      color: #fff;
  }  */
/* .carousel-caption{
  
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0.2);
  } */
.btn-get-started {
  font-family: cursive;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  color: black;
  background: #18d26e; }

.btn-get-started:hover {
  background: #fff;
  color: #18d26e; }

#services {
  background: #000;
  background-size: cover;
  padding: 60px 0 40px 0; }

.box-mid {
  background: linear-gradient(0deg, #000000 0%, #242323 50%, #000000 100%); }

#services .title {
  font-family: "Montserrat", sans-serif;
  margin-left: 60px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px; }

#services .title a {
  color: white; }

#services .title a:hover {
  color: #18d26e;
  text-decoration: none; }

#aboutus {
  background: url("../img/about-bg.jpg") center top no-repeat fixed;
  background: white;
  background-size: cover;
  padding: 60px 0 40px 0;
  position: relative;
  /* opacity: 0.5; */ }

.section-header h3 {
  font-size: 32px;
  margin: 50px 0 50px 0;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: relative;
  padding-bottom: 15px; }

.section-header h3::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px); }

.section-header h3::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #18d26e;
  bottom: 0;
  left: calc(50% - 20px); }

.card {
  margin: 25px;
  border-radius: 10px; }

.card-title a {
  color: #9b2020;
  text-decoration: none; }

.card-title {
  text-align: center;
  font-weight: bold; }

.card-title a:hover {
  color: #18d26e;
  transition: 0.5s; }

#ourskill .progress {
  margin: 10px;
  height: 2.5rem; }

#ourskill .bg-danger {
  width: 25%; }

#ourskill .bg-warning {
  width: 50%; }

#ourskill .bg-info {
  width: 75%; }

#ourskill .bg-success {
  width: 100%; }

.skill {
  color: black; }

#testimonialIndicators {
  background: rgba(235, 153, 153, 0.6); }

.testimonial-item {
  text-align: center;
  padding: 20px 0 40px 0; }

.testimonial-item img {
  height: 100px;
  border-radius: 50%; }

#contactus {
  background: #ddd; }

#contactus textarea {
  width: 100%;
  height: 175px; }

.contactusSendBtn {
  align-items: center;
  margin: 10px;
  background: #ddd;
  overflow: hidden; }

.footer {
  background: #242323;
  color: white; }

.footer h4 {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  padding-top: 30px; }

.footer p {
  font-size: 14px;
  font-family: cursive;
  color: #fff; }

.footer ul {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  line-height: 30px; }

.footer-list-item a {
  margin: 10px;
  text-decoration: none;
  display: inline;
  font-weight: bold;
  color: white; }

.footer-list-item a:hover {
  color: #7bc465; }

.footer .form-subscribe input {
  display: inline;
  width: 45%; }

#socialMedia {
  background: black; }

.social ul {
  margin: 20px;
  list-style-type: none;
  text-decoration: none;
  align-items: center; }

.social li {
  display: inline-block; }

.social i {
  font-size: 40px;
  border-radius: 50%;
  color: #d8b8b8;
  background: #2f3b33;
  margin: 5px; }

.social i:hover {
  background: #111;
  transition: 0.4s;
  background-color: transparent;
  color: #9b2020; }
