$botton-color: rgb(241, 31, 31);
$text-color: black;

@import "../node_modules/bootstrap/scss/bootstrap.scss";




.btn-success {
  background-color: $botton-color;
  color: $text-color;
}

  
  


  


